<div class="side" id="side" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" th:fragment="side_bar">
    <div class="app_icons">
        <img src="" alt="" class="app_icon">
    </div>
    <nav class="menus">
        <ul class="menu">
            <li>
                <a th:href="@{/cars/list}" style="" class="menu-list">
                    <i class="fa-solid fa-house side-icon fa-lg"></i>
                    <div>ホーム</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/list}" style="" class="menu-list">
                    <i class="fa-solid fa-car side-icon fa-lg"></i>
                    <div>車両一覧</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/template}" style="" class="menu-list">
                    <i class="fa-solid fa-file-lines side-icon fa-lg"></i>
                    <div>テンプレート選択</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/add}" style="" class="menu-list">
                    <i class="fa-solid fa-car-on side-icon fa-lg"></i>
                    <div>新規登録</div>
                </a>
            </li>
            <li>
                <a th:href="@{/cars/intake}" style="" class="menu-list">
                    <i class="fa-solid fa-cloud-arrow-down side-icon fa-lg"></i>
                    <div>データ取込</div>
                </a>
            </li>
            <li>
                <a th:href="@{/employees/{id}(id=${userEmployee.id})}" style="" class="menu-list">
                    <i class="fa-solid fa-user side-icon fa-lg"></i>
                    <div>プロフィール情報</div>
                </a>
            </li>
            <li>
                <a th:href="@{/employees}" style="" class="menu-list">
                    <i class="fa-solid fa-user-group side-icon fa-lg"></i>
                    <div>ユーザー一覧</div>
                </a>
            </li>
        </ul>
    </nav>

    <div class="side_store-names" th:object="${userEmployee}">
        <div class="side_store-name" th:text="*{affiliatedStore}"></div>
    </div>

    <div class="side_employee-profiles" th:object="${userEmployee}">
        <div class="side_employee-profiles-inner">
            <div class="side_employee-profile-images">
                <img src="./img/icons/profile-human.png" alt="">
            </div>
            <div class="side_employee-profile-names">
                <div class="side_employee-profile-name" th:text="*{name}"></div>
                <div class="side_employee-profile-department" th:text="*{department}">営業</div>
            </div>
        </div>
    </div>

</div>
