<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: head_fragment(title = '新規登録')">

<body style="overflow: hidden;">

    <div class="create_accounts">
        <div class="create_accounts_inner">
            <div class="create_accounts_create-account-btns">
                <a th:href="@{/login}" class="create_accounts_create-account-btn">Log in</a>
            </div>

            <div class="create_accounts_sides">
                <div class="create_accounts_sides_inner">
                    <div class="create_accounts_sides-welcome">Welcome!</div>
                    <div class="create_accounts_sides_app-name create_accounts-app-name1">Price board</div>
                    <div class="create_accounts_sides_app-name create_accounts-app-name2">creation app</div>

                    <div class="create_accounts_sides-images">
                        <img th:src="@{/img/loginImage.png}" alt="">
                    </div>
                </div>
            </div>

            <div class="create_accounts_forms">
                <div class="create_accounts_forms_inner">
                    <div class="create_accounts_page-titles">
                        <div class="create_accounts_page-title">Create Account</div>
                        <div class="create_accounts_page-title-ruby">新規登録</div>
                    </div>

                    <div class="create_accounts_methods">
                        <div class="create_accounts_methods_inner">
                            <a href="" class="create_accounts-google_account-logins">
                                <div class="create_accounts-google_account-login-icon">
                                    <img th:src="@{/img/Google-icon.png}" alt="">
                                </div>
                                <div class="create_accounts-google_account-login-text">sign in with Google</div>
                            </a>
                            <a href="" class="create_accounts-line_account-logins">
                                <div class="create_accounts-line_account-login-icon">
                                    <img th:src="@{/img/line-icon.png}" alt="">
                                </div>
                                <div class="create_accounts-line_account-login-text">sign in with LINE</div>
                            </a>
                        </div>
                    </div>

                    <div class="create_accounts_page-separator">- OR -</div>

                    <div class="create_accounts_account-signins">
                        <form th:action="@{/login/create_account}" method="post" class="create_accounts_account-signin-form" th:object="${employee}">
                            <div class="create_accounts_account-signin-form-names">
                                <input type="text" class="create_accounts_account-signin-name" placeholder="Full Name" th:field="*{name}">
                                <p th:if="${textError} neq null" th:text="${textError}" class="mb-1 text-danger"></p>
                            </div>
                            <div class="create_accounts_account-signin-form-emails">
                                <input type="email" class="create_accounts_account-signin-email" placeholder="Email Address" th:field="*{email}">
                                <p th:if="${emailError} neq null" th:text="${emailError}" class="mb-1 text-danger"></p>
                            </div>
                            <div class="create_accounts_account-signin-form-passwords">
                                <input type="password" class="create_accounts_account-signin-password" placeholder="Password" th:field="*{password}">
                                <p th:if="${passwordError} neq null" th:text="${passwordError}" class="mb-1 text-danger"></p>
                            </div>

                            <div class="create_accounts_account-signin-btns">
                                <button type="submit" class="create_accounts_account-signin-btn">Create Account</button>
                            </div>
                        </form>
                    </div>

                    <div class="create_accounts_page-forgot-passwords" style="">
                        <div class="create_accounts_page-forgot-password-text">Already have an account?</div>
                        <div class="create_accounts_page-forgot-password-links">
                            <a th:href="@{/login}" class="create_accounts_page-forgot-password-link">Log in</a>
                        </div>
                    </div>

                    <div class="create_accounts_page-forgot-passwords" style="margin-top: 10px;">
                        <div class="create_accounts_page-forgot-password-text">Forgot your password?</div>
                        <div class="create_accounts_page-forgot-password-links">
                            <a th:href="@{/login/password_reset}" class="create_accounts_page-forgot-password-link">Password reset</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>