<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: head_fragment(title = 'ログイン')">

<body style="overflow: hidden;">

    <div class="logins">
        <div class="logins_inner">
            <div class="login_create-account-btns">
                <a th:href="@{/login/createAccount}" class="login_create-account-btn">Create Account</a>
            </div>

            <div class="login_sides">
                <div class="login_sides_inner">
                    <div class="login_sides-welcome">Welcome!</div>
                    <div class="login_sides_app-name app-name1">Price board</div>
                    <div class="login_sides_app-name app-name2">creation app</div>

                    <div class="login_sides-images">
                        <img th:src="@{/img/loginImage.png}" alt="">
                    </div>
                </div>
            </div>

            <div class="login_forms">
                <div class="login_forms_inner">
                    <div class="login_page-titles">
                        <div class="login_page-title">Log in</div>
                        <div class="login_page-title-ruby">ログイン</div>
                    </div>

                    <div class="login_page-have-accounts">
                        <div class="login_page-have-account">Don't have an account?</div>
                        <div class="login_page-create-account">
                            <a href="" class="login_page-create-account-link">Create an account</a>
                        </div>
                    </div>

                    <div class="login_methods">
                        <div class="login_methods_inner">
                            <a href="" class="google_account-logins">
                                <div class="google_account-login-icon">
                                    <img th:src="@{/img/Google-icon.png}" alt="">
                                </div>
                                <div class="google_account-login-text">sign in with Google</div>
                            </a>
                            <a href="" class="line_account-logins">
                                <div class="line_account-login-icon">
                                    <img th:src="@{/img/line-icon.png}" alt="">
                                </div>
                                <div class="line_account-login-text">sign in with LINE</div>
                            </a>
                        </div>
                    </div>

                    <div class="login_page-separator">- OR -</div>

                    <div class="login_account-signins">
                        <form th:action="@{/login}" th:method="post" class="login_account-signin-form">
                            <div class="login_account-signin-form-emails">
                                <input type="email" name="email" class="login_account-signin-email" placeholder="Email Address">
                            </div>
                            <div class="login_account-signin-form-passwords">
                                <input type="password" name="password" class="login_account-signin-password" placeholder="Password">
                            </div>

                            <div class="login_account-signin-btns">
                                <button type="submit" class="login_account-signin-btn">Log in</button>
                            </div>
                        </form>
                    </div>

                    <div class="login_page-forgot-passwords">
                        <div class="login_page-forgot-password-text">Forgot your password?</div>
                        <div class="login_page-forgot-password-links">
                            <a href="" class="login_page-forgot-password-link">Password reset</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>