<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: head_fragment(title = 'プロフィール情報更新')">

<body class="">

    <div class="contents">
        <!-- サイドバー -->
        <div th:replace="common/side_bar :: side_bar"></div>

        <!-- メイン -->
        <div class="content-mains" th:object="${employee}">
            <div class="content-mains_inner">
                <div class="page_title">プロフィール情報更新</div>

                <form th:action="@{/employees/{id}/update(id=${employee.id})}" method="post" class="edit_profile-form">
                    <input type="hidden" th:field="*{role}">
                    <div class="edit_profiles">
                        <div class="edit_profile_images">
                            <div class="edit_profile_images_inner">
                                <img th:src="@{/img/icons/human-icon-white.png}" alt="" class="edit_profile_image">
                            </div>
                            <div class="profileImageInputs">
                                <input type="file" name="file" class="profileImageInput" id="profileImageInput" accept="image/*" hidden>
                                <button type="button" onclick="document.getElementById('profileImageInput').click();" class="profileImageInputButton">画像ファイルを選択</button>
                                <span id="fileName"></span>
                            </div>
                        </div>
                        <div class="edit_profile_tables">
                            <div class="edit_profile_tables-tr">
                                <div class="edit_profile_tables-tr_inputs">
                                    <div class="edit_profile_tables-th">ID</div>
                                    <div class="edit_profile_tables-code" th:text="*{id}"></div>
                                </div>
                            </div>
                            <div class="edit_profile_tables-tr">
                                <div class="edit_profile_tables-tr_inputs">
                                    <div class="edit_profile_tables-th edit-profile_tables-th-name">名前</div>
                                    <div class="edit_profile-tables-tr_input-wrapper">
                                        <input type="text" th:field="*{name}" class="edit_profile_tables-td edit-profile_tables-td-name">
                                        <div class="errors">
                                            <div class="error_message error_message-name">20文字以内で入力してください。</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="edit_profile_tables-tr">
                                <div class="edit_profile_tables-tr_inputs">
                                    <div class="edit_profile_tables-th edit-profile_tables-th-department">職種</div>
                                    <div class="edit_profile-tables-tr_input-wrapper">
                                        <input type="text" th:field="*{department}" class="edit_profile_tables-td edit-profile_tables-td-department">
                                        <div class="errors">
                                            <div class="error_message error_message-name">20文字以内で入力してください。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit_profile_tables-tr">
                                <div class="edit_profile_tables-tr_inputs">
                                    <div class="edit_profile_tables-th edit-profile_tables-th-email">メールアドレス</div>
                                    <div class="edit_profile-tables-tr_input-wrapper">
                                        <input type="email" th:field="*{email}" class="edit_profile_tables-td edit-profile_tables-td-email">
                                        <div class="errors">
                                            <div class="error_message">20文字以内で入力してください。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit_profile_tables-tr">
                                <div class="edit_profile_tables-tr_inputs">
                                    <div class="edit_profile_tables-th edit-profile_tables-th-password">パスワード</div>
                                    <div class="edit_profile-tables-tr_input-wrapper">
                                        <input type="password" name="password" class="edit_profile_tables-td edit-profile_tables-td-password">
                                        <div class="errors">
                                            <div class="error_message">20文字以内で入力してください。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit_profile_tables-tr">
                                <div class="edit_profile_tables-tr_inputs">
                                    <div class="edit_profile_tables-th edit-profile_tables-th-chatwork">chatwork ID</div>
                                    <div class="edit_profile-tables-tr_input-wrapper">
                                        <input type="text" name="" value="" class="edit_profile_tables-td edit-profile_tables-td-chatwork">
                                        <div class="errors">
                                            <div class="error_message">20文字以内で入力してください。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit_profile_edit-btns">
                                <a href="" class="edit_profile_edit-btn">戻る</a>
                                <button type="submit" class="edit_profile-update-btn">更新</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>